<section class="add-product-page">
    <form class="add-product-page-container" enctype="multipart/form-data">
        <div class="upload-product-heading">
            <h1>Upload Products</h1>
        </div>
        <div class="product-name-and-category">
            <label for="prouduct-name">Name</label>
            <input type="text" name="prouduct-name" id="prouduct-name" class="prouduct-name" />
            <div class="category-and-stock">
                <button class="product-category" id="product-category">Select a Category<i class="fas fa-sort-down"></i></button>
                <div class="stock">
                    <label for="available-stock">Available Stock</label>
                    <input type="text" name="available-stock" class="available-stock" id="available-stock" />
                </div>
            </div>
            <input type="text" class="category-save" name="category" hidden>
            <ul class="category-list" id="category-list">
                <li value="Cooking essential">Cooking essential</li>
                <li value="Gourmet Foods">Gourmet Foods</li>
                <li value="Household Supplies">Household Supplies</li>
                <li value="Family Nutrition">Family Nutrition</li>
                <li value="Baby products">Baby products</li>
                <li value="Beauty">Beauty</li>
                <li value="Health">Health</li>
                <li value="Nuts">Nuts</li>
                <li value="Rice">Rice</li>
                <li value="Sweets and Candies">Sweets and Candies</li>
            </ul>
        </div>
        <div class="radio-labels">
            <input type="radio" name="pricing" class="pricing" id="default-pricing" value="default-pricing" />
            <h6>Default Pricing</h6>
            <input type="radio" name="pricing" class="pricing" id="custom-pricing" value="Customize Pricing">
            <h6>Customize Pricing</h6>
        </div>
        <div class="product-price-container">
                <input type="text" placeholder="Enter price" name="product-price" id="product-price"
                class="product-price" />
            <div class="radio-labels">
                <input type="radio" name="measure" value="/piece" id="measure" />
                <h6>/piece</h6>
                <input type="radio" name="measure" value="/kg" id="measure" />
                <h6>/kg</h6>
                <input type="radio" name="measure" value="/litre" id="measure" />
                <h6>/litre</h6>
                <input type="radio" name="measure" value="/ml" id="measure" />
                <h6>/ml</h6>
                <input type="radio" name="measure" value="/combo" id="measure" />
                <h6>/combo</h6>
            </div>
        </div>
        <div class="product-custom-prize-container">
            <div class="custom-price-div">
                <input type="text" placeholder="Enter Price" class="product-custom-price">
                <h6>for</h6>
                <input type="text" placeholder="Enter Quantity" class="custom-measure">
                <select name="custom-measure-unit" id="custom-measure-unit">
                    <option value="piece">piece</option>
                    <option value="kg">Kg</option>
                    <option value="litre">litre</option>
                    <option value="ml">ml</option>
                </select>
            </div>
            <div>
                <input type="text" placeholder="Enter Price" class="product-custom-price">
                <h6>for</h6>
                <input type="text" placeholder="Enter Quantity" class="custom-measure">
                <select name="custom-measure-unit" id="custom-measure-unit">
                    <option value="piece">piece</option>
                    <option value="kg">Kg</option>
                    <option value="litre">litre</option>
                    <option value="ml">ml</option>
                </select>
            </div>
            <div>
                <input type="text" placeholder="Enter Price" class="product-custom-price">
                <h6>for</h6>
                <input type="text" placeholder="Enter Quantity" class="custom-measure">
                <select name="custom-measure-unit" id="custom-measure-unit">
                    <option value="piece">piece</option>
                    <option value="kg">Kg</option>
                    <option value="litre">litre</option>
                    <option value="ml">ml</option>
                </select>
            </div>
            <div>
                <input type="text" placeholder="Enter Price" class="product-custom-price">
                <h6>for</h6>
                <input type="text" placeholder="Enter Quantity" class="custom-measure">
                <select name="custom-measure-unit" id="custom-measure-unit">
                    <option value="piece">piece</option>
                    <option value="kg">Kg</option>
                    <option value="litre">litre</option>
                    <option value="ml">ml</option>
                </select>
            </div>
        </div>
        <div class="image-upload">
            <div><h5>Add Images</h5></div>
            <input type="file" name="images" id="images" class="images" multiple value="Add images">
            <div class="image-preview" id="image-preview"></div>
        </div>
        <div class="product-description-container">
            <label for="description">Description</label>
            <textarea name="description" class="description" placeholder="Description 1"></textarea>
            <textarea name="description" class="description" placeholder="Description 2"></textarea>
            <textarea name="description" class="description" placeholder="Description 3"></textarea>
            <textarea name="description" class="description" placeholder="Description 4"></textarea>
            <textarea name="description" class="description" placeholder="Description 5"></textarea>
            <textarea name="description" class="description" placeholder="Description 6"></textarea>
            <div class="add-product-btn-container">
                <button type="submit">Upload</button>
            </div>
        </div>
    </form>
</section>