<main class="admin-main-container">
    <section class="admin-options">
        <a href="#"><button id="dashboard"><i class="fas fa-home"></i>Dashboard</button></a>
        <a href="#"><button id="add-product"><i class="fas fa-plus"></i>Add Products</button></a>
        <a href="#"><button id="view-product"><i class="far fa-eye"></i>View Products</button></a>
        <a href="#"><button id="order-details"><i class="fas fa-info-circle"></i>Orders Details</button></a>
        <a href="#"><button id="available-locations"><i class="fas fa-map-marked-alt"></i>Available Locations</button></a>
        <a href="#"><button id="delivery-person"><i class="fas fa-truck"></i>Delivery Persons</button></a>
    </section>
    <section class="admin-dashboard-container">
        <div class="admin-option-card">
            <div class="admin-option-card-title">
                <h1>Total Sale</h1>
            </div>
            <div class="admin-option-card-body">
                <h2><strong>₹120000/-</strong></h2>
                <p>in last 30 days</p>
            </div>
        </div>
        <div class="admin-option-card">
            <div class="admin-option-card-title">
                <h1>Best category</h1>
            </div>
            <div class="admin-option-card-body">
                <h2><strong>Cooking essential</strong></h2>
                <p>in last 30 days</p>
            </div>
        </div>
        <div class="admin-option-card">
            <div class="admin-option-card-title">
                <h1>Best Product</h1>
            </div>
            <div class="admin-option-card-body">
                <h2><strong>Soap</strong></h2>
                <p>in last 30 days</p>
            </div>
        </div>
        <div class="admin-option-card">
            <div class="admin-option-card-title">
                <h1>Best Brand</h1>
            </div>
            <div class="admin-option-card-body">
                <h2><strong>Eastern</strong></h2>
                <p>in last 30 days</p>
            </div>
        </div>
    </section>
    <section class="admin-order-container">
        <div class="order-card-row">
            <div class="admin-order-card">
                <div class="admin-order-card-title">
                    <h1>Easter Curry powder order1 r jlks</h1>
                    <h6><strong>Quantity:5 Nos</strong></h6>
                </div>
                <div class="admin-order-card-body">
                    <p>Delivery to:Neyyathur house,Munnadi,cheloor,pin 676552</p>
                    <div class="btn-admin-order">
                        <a href="#"><button>Reject</button></a>
                        <a href="#"><button class="green">Out for delivery</button></a>
                    </div>
                </div>
            </div>
            <div class="admin-order-card">
                <div class="admin-order-card-title">
                    <h1>Easter Curry powder order1 r jlks</h1>
                    <h6><strong>Quantity:5 Nos</strong></h6>
                </div>
                <div class="admin-order-card-body">
                    <p>Delivery to:Neyyathur house,Munnadi,cheloor,pin 676552</p>
                    <div class="btn-admin-order">
                        <a href="#"><button>Reject</button></a>
                        <a href="#"><button class="green">Out for delivery</button></a>
                    </div>
                </div>
            </div>
            <div class="admin-order-card">
                <div class="admin-order-card-title">
                    <h1>Easter Curry powder order1 r jlks</h1>
                    <h6><strong>Quantity:5 Nos</strong></h6>
                </div>
                <div class="admin-order-card-body">
                    <p>Delivery to:Neyyathur house,Munnadi,cheloor,pin 676552</p>
                    <div class="btn-admin-order">
                        <a href="#"><button>Reject</button></a>
                        <a href="#"><button class="green">Out for delivery</button></a>
                    </div>
                </div>
            </div>
            <div class="admin-order-card">
                <div class="admin-order-card-title">
                    <h1>Easter Curry powder order1 r jlks</h1>
                    <h6><strong>Quantity:5 Nos</strong></h6>
                </div>
                <div class="admin-order-card-body">
                    <p>Delivery to:Neyyathur house,Munnadi,cheloor,pin 676552</p>
                    <div class="btn-admin-order">
                        <a href="#"><button>Reject</button></a>
                        <a href="#"><button class="green">Out for delivery</button></a>
                    </div>
                </div>
            </div>
            <div class="admin-order-card">
                <div class="admin-order-card-title">
                    <h1>Easter Curry powder order1 r jlks</h1>
                    <h6><strong>Quantity:5 Nos</strong></h6>
                </div>
                <div class="admin-order-card-body">
                    <p>Delivery to:Neyyathur house,Munnadi,cheloor,pin 676552</p>
                    <div class="btn-admin-order">
                        <a href="#"><button>Reject</button></a>
                        <a href="#"><button class="green">Out for delivery</button></a>
                    </div>
                </div>
            </div>
            <div class="admin-order-card">
                <div class="admin-order-card-title">
                    <h1>Easter Curry powder order1 r jlks</h1>
                    <h6><strong>Quantity:5 Nos</strong></h6>
                </div>
                <div class="admin-order-card-body">
                    <p>Delivery to:Neyyathur house,Munnadi,cheloor,pin 676552</p>
                    <div class="btn-admin-order">
                        <a href="#"><button>Reject</button></a>
                        <a href="#"><button class="green">Out for delivery</button></a>
                    </div>
                </div>
            </div>
            <div class="admin-order-card">
                <div class="admin-order-card-title">
                    <h1>Easter Curry powder order1 r jlks</h1>
                    <h6><strong>Quantity:5 Nos</strong></h6>
                </div>
                <div class="admin-order-card-body">
                    <p>Delivery to:Neyyathur house,Munnadi,cheloor,pin 676552</p>
                    <div class="btn-admin-order">
                        <a href="#"><button>Reject</button></a>
                        <a href="#"><button class="green">Out for delivery</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>