<section class="admin-order-container">
        <div class="order-card-row">
            <div class="admin-order-card">
                <div class="admin-order-card-title">
                    <h1>Easter Curry powder order1 r jlks</h1>
                    <h6><strong>Quantity:5 Nos</strong></h6>
                </div>
                <div class="admin-order-card-body">
                    <p>Delivery to:Neyyathur house,Munnadi,cheloor,pin 676552</p>
                    <div class="btn-admin-order">
                        <a href="#"><button>Reject</button></a>
                        <a href="#"><button class="green">Out for delivery</button></a>
                    </div>
                </div>
            </div>
            <div class="admin-order-card">
                <div class="admin-order-card-title">
                    <h1>Easter Curry powder order1 r jlks</h1>
                    <h6><strong>Quantity:5 Nos</strong></h6>
                </div>
                <div class="admin-order-card-body">
                    <p>Delivery to:Neyyathur house,Munnadi,cheloor,pin 676552</p>
                    <div class="btn-admin-order">
                        <a href="#"><button>Reject</button></a>
                        <a href="#"><button class="green">Out for delivery</button></a>
                    </div>
                </div>
            </div>
            <div class="admin-order-card">
                <div class="admin-order-card-title">
                    <h1>Easter Curry powder order1 r jlks</h1>
                    <h6><strong>Quantity:5 Nos</strong></h6>
                </div>
                <div class="admin-order-card-body">
                    <p>Delivery to:Neyyathur house,Munnadi,cheloor,pin 676552</p>
                    <div class="btn-admin-order">
                        <a href="#"><button>Reject</button></a>
                        <a href="#"><button class="green">Out for delivery</button></a>
                    </div>
                </div>
            </div>
            <div class="admin-order-card">
                <div class="admin-order-card-title">
                    <h1>Easter Curry powder order1 r jlks</h1>
                    <h6><strong>Quantity:5 Nos</strong></h6>
                </div>
                <div class="admin-order-card-body">
                    <p>Delivery to:Neyyathur house,Munnadi,cheloor,pin 676552</p>
                    <div class="btn-admin-order">
                        <a href="#"><button>Reject</button></a>
                        <a href="#"><button class="green">Out for delivery</button></a>
                    </div>
                </div>
            </div>
            <div class="admin-order-card">
                <div class="admin-order-card-title">
                    <h1>Easter Curry powder order1 r jlks</h1>
                    <h6><strong>Quantity:5 Nos</strong></h6>
                </div>
                <div class="admin-order-card-body">
                    <p>Delivery to:Neyyathur house,Munnadi,cheloor,pin 676552</p>
                    <div class="btn-admin-order">
                        <a href="#"><button>Reject</button></a>
                        <a href="#"><button class="green">Out for delivery</button></a>
                    </div>
                </div>
            </div>
            <div class="admin-order-card">
                <div class="admin-order-card-title">
                    <h1>Easter Curry powder order1 r jlks</h1>
                    <h6><strong>Quantity:5 Nos</strong></h6>
                </div>
                <div class="admin-order-card-body">
                    <p>Delivery to:Neyyathur house,Munnadi,cheloor,pin 676552</p>
                    <div class="btn-admin-order">
                        <a href="#"><button>Reject</button></a>
                        <a href="#"><button class="green">Out for delivery</button></a>
                    </div>
                </div>
            </div>
            <div class="admin-order-card">
                <div class="admin-order-card-title">
                    <h1>Easter Curry powder order1 r jlks</h1>
                    <h6><strong>Quantity:5 Nos</strong></h6>
                </div>
                <div class="admin-order-card-body">
                    <p>Delivery to:Neyyathur house,Munnadi,cheloor,pin 676552</p>
                    <div class="btn-admin-order">
                        <a href="#"><button>Reject</button></a>
                        <a href="#"><button class="green">Out for delivery</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>