<header class="admin-header">
    <div class="supermarket-container">
        <h2>Super<span>Market</span></h2>
        <h5>Admin Panel</h5>
    </div>
    <div class="for-heading">
        <h1>{{heading}}</h1>
    </div>
</header>