<section>
    <header>
        <nav class="header-container">
            <div class="logo">
                <h1>Super<span>Market</span></h1>
            </div>
            <div class="search">
                <i class="fas fa-search"></i>
                <input type="text" class="search" name="search" id="search" placeholder="Search items..." />
            </div>
            <div class="account-and-cart">
                {{#if user}}
                    <a href="/wishlist"><i class="fas fa-heart"></i></a>
                    <i class="fas fa-shopping-cart"><span class="badge">12</span></i>
                    <i class="fas fa-user"></i>
                {{else}}
                    <a href="/signup"><button class="header-signup-btn">Sign up</button></a>
                    <a href="/login"><button class="header-login-btn">Log in</button></a>
                {{/if}}
            </div>
        </nav>
    </header>
    <section class="nav-links">
        <div class="nav-links-container">
            <h6>Home</h6>
            <h6>Special Offers<span class="badge">SP</span></h6>
            <h6>
                Categories<span><i class="fas fa-sort-down"></i></span>
            </h6>
            <h6>Contact Us</h6>
        </div>
    </section>
</section>