<section>
        <div class="cart-container">
            <div class="product-section">
                <div class="delivery-available">
                    <i class="fas fa-map-marker-alt"></i>
                    <h5>Deliver to</h5>
                    <input type="text">
                    <a href="#">Check</a>
                </div>
                <div class="cart-product">
                    <div class="details">

                            <img src="/public/images/product-images/1618986635812-supermarket-product-gourmet-saf4.jpg" alt="Image">

                        <div class="name-price-remove">
                            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, nihil.(2kg)</h2>
                            <strong>1200</strong>
                            <a href="#"><span><i class="fas fa-trash"></i></span> Remove Product</a>
                        </div>
                        <div class="quantity-check">
                            <p>Quantity</p>
                            <select name="quantity-cart" id="quantity-cart">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option id="more-add-quantity" value="more">more</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="place-order-cart">
                    <a href="#"><button>Place Order</button></a>
                </div>
            </div>
            <div class="price-section">
                <div class="cart-price">
                    <div class="cart-price-details">
                        <h6>Price Details</h6>
                    </div>
                    <div class="price-discount-delivery">
                        <p>Price of Items</p>
                        <strong>1200</strong>
                    </div>
                    <div class="price-discount-delivery">
                        <p>Discount</p>
                        <strong>1200</strong>
                    </div>
                    <div class="price-discount-delivery">
                        <p>Delivery</p>
                        <strong>FREE</strong>
                    </div>
                    <div class="total-amount-cart">
                        <h3>Total Amount</h3>
                        <strong>1200</strong>
                    </div>
                </div>
                <div class="place-order-cart-2">
                    <a href="#"><button>Place Order</button></a>
                </div>
            </div>
        </div>
    </section>