<section class="home-main-container">
    <div class="offer">
        <div class="carousel-container">
            <img class="carousel-images fade" src="/images/carousel/carousel1.jpg" alt="" />
            <img class="carousel-images fade" src="/images/carousel/carousel2.jpg" alt="">
            <img class="carousel-images fade" src="/images/carousel/carousel3.jpg" alt="">
            <div class="right-arrow" onclick="slideChange(1)">
                <i class="fas fa-chevron-right"></i>
            </div>
            <div class="left-arrow" onclick="slideChange(-1)">
                <i class="fas fa-chevron-left"></i>
            </div>
        </div>
        <div class="other-two">
            <img src="/images/other-offers/offer1.jpg" alt="" />
            <img src="/images/other-offers/offer2.jpg" alt="" />
        </div>
    </div>

    <!-- Categories container -->

    <section class="categories">
        <div class="categories-heading">
            <h1>Categories</h1>
        </div>
        <div class="categories-layout">
            <div class="categories-card cooking-essential">
                <a href="#"><button>Cooking Essential</button></a>
            </div>
            <div class="categories-card gourmet-food">
                <a href="#"><button>Gourmet Food</button></a>
            </div>
            <div class="categories-card household-supplies">
                <a href="#"><button>Household Supplies</button></a>
            </div>
            <div class="categories-card family-nutrition">
                <a href="#"><button>Family Nutrition</button></a>
            </div>
            <div class="categories-card baby">
                <a href="#"><button>Baby</button></a>
            </div>
            <div class="categories-card beauty">
                <a href="#"><button>Beauty</button></a>
            </div>
            <div class="categories-card ice-creams">
                <a href="#"><button>Ice Creams</button></a>
            </div>
            <div class="categories-card nuts">
                <a href="#"><button>Nuts</button></a>
            </div>
            <div class="categories-card rice">
                <a href="#"><button>Rice</button></a>
            </div>
            <div class="categories-card sweets">
                <a href="#"><button>Sweets</button></a>
            </div>
        </div>
    </section>

    <!-- Special offers container -->


    <section class="special-offers-container">
        <div class="special-offers-heading">
            <h1>Products For You</h1>
        </div>
        <div class="special-offers">
            <div class="product-card">
                <div class="image">
                    <img src="../71Cgh7YiE1L._SL1500_.jpg" alt="">
                </div>
                <div class="card-body margin-bottom">
                    <div class="name">
                        Saffola Oodles, Ring Noodles, Yummy Masala Flavour, No Maida, 3 x 184g Pouch (12 Packs)
                    </div>
                    <div class="price margin-top margin-bottom">
                        <strong>₹40.00</strong>
                    </div>
                    <div class="wishlist-and-add margin-top">
                        <i class="far fa-heart"></i>
                        <a href="#"><button>Add to cart</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</main>
<!-- Footer here -->
<footer>

</footer>
<script>
    var slideIndex = 0;
    var right = false;
    carouselSlide(slideIndex);
    function slideChange(n) {
        if (n == 1) {
            right = true;
        }
        slideIndex = slideIndex + n;
        carouselSlide(slideIndex)
    }
    function carouselSlide(n) {
        var i;
        var slides = document.getElementsByClassName("carousel-images")
        if (n > slides.length - 1) {
            slideIndex = 0;
        }
        if (n < 0) {
            slideIndex = slides.length - 1;
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none"
        }
        slides[slideIndex].style.display = "block"
    }
</script>