<div class="layout">
  <div class="form">
    <div>
      <p style="Color:var(--light);text-align:center;font-size:25px;">login to your account</p>
    </div>
    <form action="/login" method="POST" id="login-form">
      {{#if loginErr}}
      <a style="color:red;">Mobile number or password is invalid</a>
      {{/if}}
      <label style="Color:var(--light)" for="mobile">Mobile</label>
      <input class="mobile" type="text" id="Mobile" name="phone" placeholder="Mobile number without prefix +91" " >
           
            
            <label style=" Color:var(--light)" for="password">Password</label>
      <input type="password" class="password" id="Password" name="password"
        placeholder="Must contain atleast 8 character">

      <div class="forgot">
        <input type="text" id="form-validation" class="form-validation" name="formValidation" value="" hidden>
        <p id="not-match-password">Password doesn't match</p>
        <a href="#">Forgot Password ?</a>
        <a href="#">Haven't Account ?</a>
      </div>
      <div class="login-btn-container">
        <button type="submit" id="login-btn" name="login-btn" class="login-btn">Login</button>
      </div>
    </form>
  </div>
</div>