<section class="otp-container">
    <div class="otp-box">
        <form action="" method="" id="otp-form">
            <p id="otp-text"></p>
            <a href="#">Change number?</a>
            <input type="text" id="otp" class="otp" name="otp" placeholder="Enter the OTP">
            <div class="verify-btn-container">
                <input type="submit" name="verify-btn" id="verify-btn" class="verify-btn" value="Verify">
            </div>
        </form>
    </div>
</section>