<section>
    <div class="signup-container">
        <div class="signup-box">
            <div>
                <h2>Create Your Account</h2>
            </div>
            <form action="/signup" method="POST">
                <label for="name">Name</label>
                <input type="text" id="name" class="name" name="name" placeholder="Enter your name..." onchange="nameValidation()">
                <label for="">Mobile</label>
                <input type="text" id="mobile" name="mobile" class="mobile"
                    placeholder="Mobile number without prefix +91" onchange="mobileValidate()">
                <p id="mobile-error">Please enter a valid number</p>
                <label for="email">Email</label>
                <input type="email" id="email" class="email" name="email" placeholder="example@gmail.com">
                <div class="for-password">
                    <div class="visible-icon-box" onclick="passwordVisibilityChange()">
                        <img class="invisible-icon" src="/images/password icons/invisible-symbol.svg" alt="">
                        <img class="visible-icon" src="/images/password icons/view.svg" alt="">
                    </div>
                    <label for="password">Password</label>
                    <input type="password" oninput="passwordLengthValidation()" id="password" class="password" name="password"
                        placeholder="Must contain atleast 8 character">
                    <p id="password-character">Password must be atleast 8 character including <br> atleast one special character and a number</p>
                </div>
                <label for="confirm-password">Confirm Password</label>
                <input type="password" oninput="passwordValidation()" id="confirm-password" class="confirm-password" name="confirm-password"
                    placeholder="Re-enter your password">
                <p id="not-match-password">Password doesn't match</p>
                <a href="#">Already have an account?Login</a>
                <div class="signup-btn-container">
                    <input onclick="prevent()" type="submit" name="signup-btn" id="signup-btn" class="signup-btn" value="Sign Up">
                </div>
            </form>
        </div>
</section>