.admin-main-container {
    display: flex;
    width: 100%;
  }
  .admin-options {
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    width: 20%;
    height: 92vh;
    position: sticky;
  }
  .admin-options button {
    background: none;
    border: none;
    color: var(--light);
    width: 100%;
    height: 5rem;
    margin: 0.2rem 0;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    outline: none;
  }
  .admin-options button:hover {
    background-color: var(--light);
    color: var(--dark);
  }
  .admin-options .active-admin-option {
    border-left: 2px solid var(--orange);
  }
  .admin-options i {
    margin-right: 0.2rem;
  }
  .admin-option-card {
      border-radius: 29px;
      background: #f5f5f5;
      box-shadow: 12px 12px 24px #dadada, -12px -12px 24px #ffffff;
      width: 13rem;
      height: 13rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 3rem 1rem;
      margin: 4rem;
      text-align: center;
      color: var(--dark);
  }
  .admin-dashboard-container{
      display: flex;
      width: 80%;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 92vh;
      overflow-y: scroll;
      overflow-x: hidden;
      padding-bottom: 3rem;
  }
  .admin-option-card strong{
      font-size: 1rem;
  }
  .admin-option-card p{
      font-size: 0.8rem;
      color: var(--green);
  }
  @media screen and (max-width:818px){
      .admin-dashboard-container{
          width: 60%;
      }
      .admin-options {
          width: 40%;
        }
  }
  .admin-order-container{
      display: flex;
      width: 80%;
      height: 92vh;
      justify-content: center;
      align-items: flex-start;
  }
  .order-card-row{
      width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
  
  }
  .admin-order-card {
      border-radius: 2px;
      background: #f5f5f5;
      box-shadow: 12px 12px 24px #dadada, -12px -12px 24px #ffffff;
      width: 22rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 3rem 1rem;
      margin: 4rem;
      text-align: left;
      color: var(--dark);
      padding: 2rem;
  }
  .admin-order-card h1{
      font-size: 1rem;
      margin:0.3rem 0rem;
  }
  .admin-order-card strong{
      font-size: 1rem;
      margin:0.3rem 0rem;
  }
  .admin-order-card p{
      font-size: 1rem;
      margin:0.3rem 0rem;
  }
  .admin-order-card button {
      border: none;
      background-color: #c82727;
      border: rad;
      border-radius: 2px;
      height: 2rem;
      color: var(--light);
      width: 7rem;
      margin: 1rem 0.2rem;
      cursor: pointer;
  }
  .admin-order-card .green{
      background-color: var(--green);
  }
  .btn-admin-order{
      display: flex;
      justify-content: space-between;
      width: 100%;
  }
  @media screen and (max-width:466px){
      .admin-order-card {
          border-radius: 1px;
          width: 12rem;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0.3rem;
          margin: 1rem;
          padding: 1rem;
      }
      .admin-order-card button {
          width: 4.1rem;
          height: 3rem;
      }
      .admin-order-card p {
          font-size: 0.8rem;
      }
  }