/* Home main styles */

.home-main-container{
    padding: 2rem 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* offer layout */
.offer{
    width: 100%;
    height: 37rem;
    display: flex;
    justify-content: space-between;
}
.carousel-container{
    width: 59.5%;
    height: 100%;
    position: relative;
}
.carousel-container > img{
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
}
.carousel-container .right-arrow,.left-arrow{
    color: rgba(250,250,250,0.4);
    font-size: 2rem;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}
.carousel-container .right-arrow{
    right: 4%;
}
.carousel-container .left-arrow{
    left: 4%;
}
.other-two{
    width: 39.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.other-two > img{
    min-height: 49%;
    min-width: 100%;
    max-width: 100%;
    max-height: 49%;
}
@media screen and (max-width:1750px){
    .home-main-container {
        padding: 1rem 15rem;
    }
    .offer{
        height: 30rem;
    }
}
@media screen and (max-width:1300px){
    .home-main-container {
        padding: 1rem 1rem;
    }
    .offer{
        height: 26rem;
    }
}
@media screen and (max-width:600px){
    .home-main-container {
        padding: 1rem 0.5rem;
    }
    .offer {
        flex-direction: column;
        height: 26rem;
    }
    .carousel-container {
        width: 100%;
        height: 70%;
    }
    .other-two {
        width: 100%;
        height: 30%;
        align-items: flex-end;
        flex-direction: row;
        margin-top: 0.2rem;
    }
    .other-two > img {
        min-height: 99%;
        min-width: 49%;
        max-width: 49%;
        max-height: 99%;
    }
    .carousel-container > img {
        min-height: 99%;
        max-height: 99%;
    }
}
/* offer layout */

/* categories layout styles start */
.categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}
.categories-heading h1{
    font-size: 3rem;
    font-weight: 400;
}
.categories-layout{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.categories-card{
    width: 19%;
    height: 14rem;
    margin-top: 1rem;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 1rem;
}
.cooking-essential{
    background-image: url('/images/category-images/cooking-essentials.jpg');
}
.gourmet-food{
    background-image: url('/images/category-images/gourmet-foods.png');
}
.household-supplies{
    background-image: url('/images/category-images/house-hold-supplies.jpg');
}
.family-nutrition{
    background-image: url('/images/category-images/family-noutrition.png');
}
.baby{
    background-image: url('/images/category-images/baby.jpg');
}
.beauty{
    background-image: url('/images/category-images/beauty.jpg');
}
.ice-creams{
    background-image: url('/images/category-images/ice-creams.jpg');
}
.nuts{
    background-image: url('/images/category-images/nuts.jpg');
}
.rice{
    background-image: url('/images/category-images/rice.jpg');
}
.sweets{
    background-image: url('/images/category-images/candies.jpg');
}
.categories-card button {
	border: none;
	background-color: var(--orange);
	width: 10rem;
	height: 2.5rem;
	font-size: 1rem;
	font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: .3s ease-in-out;
}
.categories-card button:hover{
    transform: translateY(-5%);
}
@media screen and (max-width:800px){
    .categories-card button {
        width: 6rem;
        height: 2rem;
        font-size: 0.9rem;
        font-weight: 400;
    }
    .categories-card {
        width: 8rem;
        height: 10rem;
    }
}
/* categories layout styles ends */
/* Special offers */
.special-offers-container{
    width: 100%;
    margin-top: 4rem;
}
.special-offers{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-card {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 1rem;
    box-shadow: 0px 0px 6px 2px rgb(0 0 0 / 10%);
    border-radius: 4px;
    justify-content: space-between;
}
.product-card img{
    width: 250px;
    height: 250px;
    border-radius: 5px;
}
.product-center{
    justify-content: center;
}
.product-card .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
}
.wishlist-and-add {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.wishlist-and-add button {
	border: none;
	padding: 0.5rem 2rem;
	border-radius: 3px;
	background-color: var(--orange);
}
.margin-top{
    margin-top: 0.3rem;
}
.margin-bottom{
    margin-bottom: 0.3rem;
}
.special-offers-heading h1{
    font-size: 3rem;
    font-weight: 400;
}
.heart{
    cursor: pointer;
}
@media screen and (max-width:600px){
    .product-card img {
        width: 165px;
        height: 165px;
    }
    .product-card {
        width: 165px;
        font-size: 9px;
        margin: 0.4rem;
    }
    .wishlist-and-add button {
        padding: 0.3rem 1rem;
        font-size: 9px;
    }
}

/* Special offers */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  } 
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  