<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="admin-page.css">
    <title>Admin page</title>
</head>
<body>
    <header>
        <div class="supermarket-container">
            <h2>Super<span>Market</span></h2>
            <h5>Admin Panel</h5>
        </div>
    </header>
    <main>
        <section class="admin-options">
            <a href="#"><button class="active-admin-option"><i class="fas fa-home"></i>Dashboard</button></a>
            <a href="#"><button><i class="fas fa-plus"></i>Add Products</button></a>
            <a href="#"><button><i class="far fa-eye"></i>View Products</button></a>
            <a href="#"><button><i class="fas fa-info-circle"></i>Orders Details</button></a>
            <a href="#"><button><i class="fas fa-map-marked-alt"></i>Available Locations</button></a>
            <a href="#"><button><i class="fas fa-truck"></i>Delivery Persons</button></a>
        </section>
        <section>
            <div class="dashboard-container">
                <div class="card">
                    <div class="card-title">
                        <h1>Total Sale</h1>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>