<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="admin-page.css" />
    <title>Admin page</title>
</head>

<body>
    <header class="admin-header">
        <div class="supermarket-container">
            <h2>Super<span>Market</span></h2>
            <h5>Admin Panel</h5>
        </div>
    </header>
    <main class="admin-main-container">
        <section class="admin-options">
            <a href="#"><button class="active-admin-option">
                    <i class="fas fa-home"></i>Dashboard
                </button></a>
            <a href="#"><button><i class="fas fa-plus"></i>Add Products</button></a>
            <a href="#"><button><i class="far fa-eye"></i>View Products</button></a>
            <a href="#"><button><i class="fas fa-info-circle"></i>Orders Details</button></a>
            <a href="#"><button>
                    <i class="fas fa-map-marked-alt"></i>Available Locations
                </button></a>
            <a href="#"><button><i class="fas fa-truck"></i>Delivery Persons</button></a>
        </section>
        <section class="admin-dashboard-container">
            <div class="admin-option-card">
                <div class="admin-option-card-title">
                    <h1>Total Sale</h1>
                </div>
                <div class="admin-option-card-body">
                    <h2><strong>₹120000/-</strong></h2>
                    <p>in last 30 days</p>
                </div>
            </div>
            <div class="admin-option-card">
                <div class="admin-option-card-title">
                    <h1>Best category</h1>
                </div>
                <div class="admin-option-card-body">
                    <h2><strong>Cooking essential</strong></h2>
                    <p>in last 30 days</p>
                </div>
            </div>
            <div class="admin-option-card">
                <div class="admin-option-card-title">
                    <h1>Best Product</h1>
                </div>
                <div class="admin-option-card-body">
                    <h2><strong>Soap</strong></h2>
                    <p>in last 30 days</p>
                </div>
            </div>
            <div class="admin-option-card">
                <div class="admin-option-card-title">
                    <h1>Best Brand</h1>
                </div>
                <div class="admin-option-card-body">
                    <h2><strong>Eastern</strong></h2>
                    <p>in last 30 days</p>
                </div>
            </div>
        </section>
        <section class="admin-order-container">
            <div class="order-card-row">
                <div class="admin-order-card">
                    <div class="admin-order-card-title">
                        <h1>Easter Curry powder order1 r jlks</h1>
                        <h6><strong>Quantity:5 Nos</strong></h6>
                    </div>
                    <div class="admin-order-card-body">
                        <p>Delivery to:Neyyathur house,Munnadi,cheloor,pin 676552</p>
                        <div class="btn-admin-order">
                            <a href="#"><button>Reject</button></a>
                            <a href="#"><button class="green">Out for delivery</button></a>
                        </div>
                    </div>
                </div>
                <div class="admin-order-card">
                    <div class="admin-order-card-title">
                        <h1>Easter Curry powder order1 r jlks</h1>
                        <h6><strong>Quantity:5 Nos</strong></h6>
                    </div>
                    <div class="admin-order-card-body">
                        <p>Delivery to:Neyyathur house,Munnadi,cheloor,pin 676552</p>
                        <div class="btn-admin-order">
                            <a href="#"><button>Reject</button></a>
                            <a href="#"><button class="green">Out for delivery</button></a>
                        </div>
                    </div>
                </div>
                <div class="admin-order-card">
                    <div class="admin-order-card-title">
                        <h1>Easter Curry powder order1 r jlks</h1>
                        <h6><strong>Quantity:5 Nos</strong></h6>
                    </div>
                    <div class="admin-order-card-body">
                        <p>Delivery to:Neyyathur house,Munnadi,cheloor,pin 676552</p>
                        <div class="btn-admin-order">
                            <a href="#"><button>Reject</button></a>
                            <a href="#"><button class="green">Out for delivery</button></a>
                        </div>
                    </div>
                </div>
                <div class="admin-order-card">
                    <div class="admin-order-card-title">
                        <h1>Easter Curry powder order1 r jlks</h1>
                        <h6><strong>Quantity:5 Nos</strong></h6>
                    </div>
                    <div class="admin-order-card-body">
                        <p>Delivery to:Neyyathur house,Munnadi,cheloor,pin 676552</p>
                        <div class="btn-admin-order">
                            <a href="#"><button>Reject</button></a>
                            <a href="#"><button class="green">Out for delivery</button></a>
                        </div>
                    </div>
                </div>
                <div class="admin-order-card">
                    <div class="admin-order-card-title">
                        <h1>Easter Curry powder order1 r jlks</h1>
                        <h6><strong>Quantity:5 Nos</strong></h6>
                    </div>
                    <div class="admin-order-card-body">
                        <p>Delivery to:Neyyathur house,Munnadi,cheloor,pin 676552</p>
                        <div class="btn-admin-order">
                            <a href="#"><button>Reject</button></a>
                            <a href="#"><button class="green">Out for delivery</button></a>
                        </div>
                    </div>
                </div>
                <div class="admin-order-card">
                    <div class="admin-order-card-title">
                        <h1>Easter Curry powder order1 r jlks</h1>
                        <h6><strong>Quantity:5 Nos</strong></h6>
                    </div>
                    <div class="admin-order-card-body">
                        <p>Delivery to:Neyyathur house,Munnadi,cheloor,pin 676552</p>
                        <div class="btn-admin-order">
                            <a href="#"><button>Reject</button></a>
                            <a href="#"><button class="green">Out for delivery</button></a>
                        </div>
                    </div>
                </div>
                <div class="admin-order-card">
                    <div class="admin-order-card-title">
                        <h1>Easter Curry powder order1 r jlks</h1>
                        <h6><strong>Quantity:5 Nos</strong></h6>
                    </div>
                    <div class="admin-order-card-body">
                        <p>Delivery to:Neyyathur house,Munnadi,cheloor,pin 676552</p>
                        <div class="btn-admin-order">
                            <a href="#"><button>Reject</button></a>
                            <a href="#"><button class="green">Out for delivery</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="add-product-page">
            <form class="add-product-page-container">
                <div class="upload-product-heading">
                    <h1>Upload Products</h1>
                </div>
                <div class="product-name-and-category">
                    <label for="prouduct-name">Name</label>
                    <input type="text" name="prouduct-name" id="prouduct-name" class="prouduct-name" />
                    <div class="category-and-stock">
                        <button class="product-category">Select a Category</button>
                        <div class="stock">
                            <label for="available-stock">Available Stock</label>
                            <input type="text" name="available-stock" class="available-stock" id="available-stock" />
                        </div>
                    </div>
                    <ul>
                        <li>Cooking essential</li>
                        <li>Gourmet Foods</li>
                        <li>Household Supplies</li>
                        <li>Family Nutrition</li>
                        <li>Baby products</li>
                        <li>Beauty</li>
                        <li>Health</li>
                        <li>Nuts</li>
                        <li>Rice</li>
                        <li>Sweets and Candies</li>
                    </ul>
                </div>
                <div class="radio-labels">
                    <input type="radio" name="pricing" class="pricing" value="default-pricing" />
                    <h6>Default Pricing</h6>
                    <input type="radio" name="pricing" class="pricing" value="Customize Pricing">
                    <h6>Customize Pricing</h6>
                </div>
                <div class="product-price-container">
                    <input type="text" placeholder="Enter price" name="product-price" id="product-price" class="product-price" />
                    <div class="radio-labels">
                        <input type="radio" name="measure" value="/piece" id="measure" />
                        <h6>/piece</h6>
                        <input type="radio" name="measure" value="/kg" id="measure" />
                        <h6>/kg</h6>
                        <input type="radio" name="measure" value="/litre" id="measure" />
                        <h6>/litre</h6>
                        <input type="radio" name="measure" value="/ml" id="measure" />
                        <h6>/ml</h6>
                        <input type="radio" name="measure" value="/combo" id="measure" />
                        <h6>/combo</h6>
                    </div>
                </div>
                <div class="product-custom-prize-container">
                    <div>
                        <input type="text" placeholder="Enter Price" class="product-custom-price">
                        <h6>for</h6>
                        <input type="text" placeholder="Enter Quantity" class="custom-measure">
                        <select name="custom-measure-unit" id="custom-measure-unit">
                            <option value="piece">piece</option>
                            <option value="kg">Kg</option>
                            <option value="litre">litre</option>
                            <option value="ml">ml</option>
                        </select>
                    </div>
                    <div>
                        <input type="text" placeholder="Enter Price" class="product-custom-price">
                        <h6>for</h6>
                        <input type="text" placeholder="Enter Quantity" class="custom-measure">
                        <select name="custom-measure-unit" id="custom-measure-unit">
                            <option value="piece">piece</option>
                            <option value="kg">Kg</option>
                            <option value="litre">litre</option>
                            <option value="ml">ml</option>
                        </select>
                    </div>
                    <div>
                        <input type="text" placeholder="Enter Price" class="product-custom-price">
                        <h6>for</h6>
                        <input type="text" placeholder="Enter Quantity" class="custom-measure">
                        <select name="custom-measure-unit" id="custom-measure-unit">
                            <option value="piece">piece</option>
                            <option value="kg">Kg</option>
                            <option value="litre">litre</option>
                            <option value="ml">ml</option>
                        </select>
                    </div>
                    <div>
                        <input type="text" placeholder="Enter Price" class="product-custom-price">
                        <h6>for</h6>
                        <input type="text" placeholder="Enter Quantity" class="custom-measure">
                        <select name="custom-measure-unit" id="custom-measure-unit">
                            <option value="piece">piece</option>
                            <option value="kg">Kg</option>
                            <option value="litre">litre</option>
                            <option value="ml">ml</option>
                        </select>
                    </div>
                </div>
                <div class="product-description-container">
                    <label for="description">Description</label>
                    <textarea  name="description" class="description" placeholder="Description 1"></textarea>
                    <textarea  name="description" class="description"  placeholder="Description 2"></textarea>
                    <textarea  name="description" class="description"  placeholder="Description 3"></textarea>
                    <textarea  name="description" class="description"  placeholder="Description 4"></textarea>
                    <textarea  name="description" class="description"  placeholder="Description 5"></textarea>
                    <textarea  name="description" class="description"  placeholder="Description 6"></textarea>
                    <div class="add-product-btn-container">
                        <button type="submit">Upload</button>
                    </div>
                </div>
            </form>
        </section>
    </main>
</body>

</html>