<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="home.css" />
    <title>home page</title>
</head>

<body>
    <header>
        <nav class="header-container">
            <div class="logo">
                <h1>Super<span>Market</span></h1>
            </div>
            <div class="search">
                <i class="fas fa-search"></i>
                <input type="text" class="search" name="search" id="search" placeholder="Search items..." />
            </div>
            <div class="account-and-cart">
                <i class="fas fa-heart"></i>
                <i class="fas fa-shopping-cart"><span class="badge">12</span></i>
                <i class="fas fa-user"></i>
            </div>
        </nav>
    </header>
    <section class="nav-links">
        <div class="nav-links-container">
            <h6>Home</h6>
            <h6>New Arrival<span class="badge">New</span></h6>
            <h6>
                Categories<span><i class="fas fa-sort-down"></i></span>
            </h6>
            <h6>Contact Us</h6>
        </div>
    </section>
    <main>

        <!-- carousel and offer container -->

        <section class="home-main-container">
            <div class="offer">
                <div class="carousel-container">
                    <img class="carousel-images fade" src="./img/pexels-arshad-sutar-1749303.jpg" alt="" />
                    <img class="carousel-images fade" src="./img/dev-dots.png" alt="">
                    <img class="carousel-images fade" src="./img/pexels-vlad-alexandru-popa-1402787.jpg" alt="">
                    <div class="right-arrow" onclick="slideChange(1)">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="left-arrow" onclick="slideChange(-1)">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                </div>
                <div class="other-two">
                    <img src="./img/dev-dots.png" alt="" />
                    <img src="./img/dev-dots.png" alt="" />
                </div>
            </div>

            <!-- Categories container -->

            <section class="categories">
                <div class="categories-heading">
                    <h1>Categories</h1>
                </div>
                <div class="categories-layout">
                    <div class="categories-card">
                        <a href="#"><button>Category</button></a>
                    </div>
                    <div class="categories-card">
                        <a href="#"><button>Category</button></a>
                    </div>
                    <div class="categories-card">
                        <a href="#"><button>Category</button></a>
                    </div>
                    <div class="categories-card">
                        <a href="#"><button>Category</button></a>
                    </div>
                    <div class="categories-card">
                        <a href="#"><button>Category</button></a>
                    </div>
                    <div class="categories-card">
                        <a href="#"><button>Category</button></a>
                    </div>
                    <div class="categories-card">
                        <a href="#"><button>Category</button></a>
                    </div>
                    <div class="categories-card">
                        <a href="#"><button>Category</button></a>
                    </div>
                    <div class="categories-card">
                        <a href="#"><button>Category</button></a>
                    </div>
                    <div class="categories-card">
                        <a href="#"><button>Category</button></a>
                    </div>
                </div>
            </section>

            <!-- Special offers container -->


            <section class="special-offers-container">
                <div class="special-offers-heading">
                    <h1>Special Offers</h1>
                </div>
                <div class="special-offers">
                    <div class="product-card">
                        <div class="image">
                            <img src="../71Cgh7YiE1L._SL1500_.jpg" alt="">
                        </div>
                        <div class="card-body margin-bottom">
                            <div class="name">
                                Saffola Oodles, Ring Noodles, Yummy Masala Flavour, No Maida, 3 x 184g Pouch (12 Packs)
                            </div>
                            <div class="price margin-top margin-bottom">
                                <strong>₹40.00</strong>
                            </div>
                            <div class="wishlist-and-add margin-top">
                                <i class="far fa-heart"></i>
                                <a href="#"><button>Add to cart</button></a>
                            </div>
                        </div>          
                    </div>
                    <div class="product-card">
                        <div class="image">
                            <img src="../71Cgh7YiE1L._SL1500_.jpg" alt="">
                        </div>
                        <div class="card-body margin-bottom">
                            <div class="name">
                                Saffola Oodles, Ring Noodles, Yummy Masala Flavour, No Maida, 3 x 184g Pouch (12 Packs)
                            </div>
                            <div class="price margin-top margin-bottom">
                                <strong>₹40.00</strong>
                            </div>
                            <div class="wishlist-and-add margin-top">
                                <i class="far fa-heart"></i>
                                <a href="#"><button>Add to cart</button></a>
                            </div>
                        </div>          
                    </div>
                    <div class="product-card">
                        <div class="image">
                            <img src="../71Cgh7YiE1L._SL1500_.jpg" alt="">
                        </div>
                        <div class="card-body margin-bottom">
                            <div class="name">
                                Saffola Oodles, Ring Noodles, Yummy Masala Flavour, No Maida, 3 x 184g Pouch (12 Packs)
                            </div>
                            <div class="price margin-top margin-bottom">
                                <strong>₹40.00</strong>
                            </div>
                            <div class="wishlist-and-add margin-top">
                                <i class="far fa-heart"></i>
                                <a href="#"><button>Add to cart</button></a>
                            </div>
                        </div>          
                    </div>
                    <div class="product-card">
                        <div class="image">
                            <img src="../71Cgh7YiE1L._SL1500_.jpg" alt="">
                        </div>
                        <div class="card-body margin-bottom">
                            <div class="name">
                                Saffola Oodles, Ring Noodles, Yummy Masala Flavour, No Maida, 3 x 184g Pouch (12 Packs)
                            </div>
                            <div class="price margin-top margin-bottom">
                                <strong>₹40.00</strong>
                            </div>
                            <div class="wishlist-and-add margin-top">
                                <i class="far fa-heart"></i>
                                <a href="#"><button>Add to cart</button></a>
                            </div>
                        </div>          
                    </div>
                    <div class="product-card">
                        <div class="image">
                            <img src="../71Cgh7YiE1L._SL1500_.jpg" alt="">
                        </div>
                        <div class="card-body margin-bottom">
                            <div class="name">
                                Saffola Oodles, Ring Noodles, Yummy Masala Flavour, No Maida, 3 x 184g Pouch (12 Packs)
                            </div>
                            <div class="price margin-top margin-bottom">
                                <strong>₹40.00</strong>
                            </div>
                            <div class="wishlist-and-add margin-top">
                                <i class="far fa-heart"></i>
                                <a href="#"><button>Add to cart</button></a>
                            </div>
                        </div>          
                    </div>
                    <div class="product-card">
                        <div class="image">
                            <img src="../71Cgh7YiE1L._SL1500_.jpg" alt="">
                        </div>
                        <div class="card-body margin-bottom">
                            <div class="name">
                                Saffola Oodles, Ring Noodles, Yummy Masala Flavour, No Maida, 3 x 184g Pouch (12 Packs)
                            </div>
                            <div class="price margin-top margin-bottom">
                                <strong>₹40.00</strong>
                            </div>
                            <div class="wishlist-and-add margin-top">
                                <i class="far fa-heart"></i>
                                <a href="#"><button>Add to cart</button></a>
                            </div>
                        </div>          
                    </div>
                </div>
            </section>
        </section>
    </main>
    <!-- Footer here -->
    <footer>

    </footer>
    <script>
        var slideIndex = 0;
        carouselSlide(slideIndex);
        function slideChange(n){
            slideIndex = slideIndex + n;
            carouselSlide(slideIndex)
        }
        function carouselSlide(n){
            var i;
            var slides = document.getElementsByClassName("carousel-images")
            if(n>slides.length -1){
                slideIndex = 0;
            }
            if(n<0){
                slideIndex = slides.length -1;
            }
            for(i=0;i<slides.length;i++){
                slides[i].style.display = "none"
            }
            slides[slideIndex].style.display = "block"
        }
    </script>
</body>

</html>