<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="home.css">
    <title>home page</title>
</head>

<body>
    <header>
        <nav class="header-container">
            <div class="logo">
                <h1>Super<span>Market</span></h1>
            </div>
            <div class="search">
                <i class="fas fa-search"></i>
                <input type="text" class="search" name="search" id="search" placeholder="Search items...">
            </div>
            <div class="account-and-cart">
                <i class="fas fa-heart"></i>
                <i class="fas fa-shopping-cart"><span class="badge">12</span></i>
                <i class="fas fa-user"></i>
            </div>
        </nav>
    </header>
    <section class="nav-links">
        <div class="nav-links-container">
            <h6>Home</h6>
            <h6>New Arrival<span class="badge">New</span></h6>
            <h6>Categories<span><i class="fas fa-sort-down"></i></span></h6>
            <h6>Contact Us</h6>
        </div>
    </section>
    <main>
        <div class="home-main-container">
            <div class="offer">
                <div class="carousel-container">
                        <img src="./img/pexels-arshad-sutar-1749303.jpg" alt="">
                        <i class="fas fa-chevron-right"></i>
                        <i class="fas fa-chevron-left"></i>
                </div>
                <div class="other-two">
                        <img src="./img/dev-dots.png" alt="">
                        <img src="./img/dev-dots.png" alt="">
                </div>
            </div>
        </div>
    </main>
</body>

</html>