@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Importing oswald font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --green : #04ca6d;
    --orange : #dda04f;
    --dark : #35334a;
    --light : #f5f5f5;
    --roboto : 'Roboto', sans-serif;
    --oswald : 'Oswald', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--roboto);
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--light);
}
.header-container{
    width: 100%;
    display: flex;
    height: 12vh;
    background-color: var(--dark);
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
}
.header-container h1{
    color: var(--orange);
}
.header-container h1 span{
    color: var(--green);
}
.search{
    display: flex;
    align-items: center;
    width: 25%;
}
.account-and-cart > i{
    color: var(--light);
    font-size: 1.3rem;
    margin-left: 5px;
    margin-right: 5px;
}
.search i{
    color: rgba(255,255,255,.6);
}
.search input{
    border: none;
    background: var(--dark);
    color: whitesmoke;
    border-bottom: solid 1px rgba(255,255,255,.6);
    padding: 0.4rem;
    outline: none;
    width: 100%;
}
/* Header styles ends */
/* Nav links styles start */
.nav-links{
    background-color: rgba(141, 192, 192, 0.246);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    padding-left: 4rem;
}
.nav-links .nav-links-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}
.nav-links .nav-links-container > h6{
    font-weight: 300;
    font-size: 1em;
}
@media screen and (max-width:1280px){
    .nav-links .nav-links-container {
        width: 55%;
    }
}
@media screen and (max-width:680px){
    .header-container {
        padding: 0rem 0.2rem;
    }
    .account-and-cart > i {
        font-size: 1rem;
        margin-left: 2px;
        margin-right: 2px;
    }
    .header-container h1 {
        font-size: 1.2em;
    }
    .search {
        width: 40%;
    }
    .search input {
        padding: 0.1rem;
    }
    .nav-links {
        padding-left: 0;
    }
    .nav-links .nav-links-container > h6 {
        font-size: 12px;
    }
    .nav-links .nav-links-container {
        width: 77%;
    }
}
/* Nav links styles ends */

/* Common styles */
.badge{
    background-color: var(--orange);
    font-size: 11px;
    border-radius: 2px;
    color: darkblue;
}
/* Common styles */

/* Home main styles */

.home-main-container{
    padding: 2rem 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* offer layout */
.offer{
    width: 100%;
    height: 37rem;
    display: flex;
    justify-content: space-between;
}
.carousel-container{
    width: 59.5%;
    height: 100%;
    position: relative;
}
.carousel-container > img{
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
}
.carousel-container .right-arrow,.left-arrow{
    color: rgba(250,250,250,0.4);
    font-size: 2rem;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}
.carousel-container .right-arrow{
    right: 4%;
}
.carousel-container .left-arrow{
    left: 4%;
}
.other-two{
    width: 39.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.other-two > img{
    min-height: 49%;
    min-width: 100%;
    max-width: 100%;
    max-height: 49%;
}
@media screen and (max-width:1750px){
    .home-main-container {
        padding: 1rem 15rem;
    }
    .offer{
        height: 30rem;
    }
}
@media screen and (max-width:1300px){
    .home-main-container {
        padding: 1rem 1rem;
    }
    .offer{
        height: 26rem;
    }
}
@media screen and (max-width:600px){
    .home-main-container {
        padding: 1rem 0.5rem;
    }
    .offer {
        flex-direction: column;
        height: 26rem;
    }
    .carousel-container {
        width: 100%;
        height: 70%;
    }
    .other-two {
        width: 100%;
        height: 30%;
        align-items: flex-end;
        flex-direction: row;
        margin-top: 0.2rem;
    }
    .other-two > img {
        min-height: 99%;
        min-width: 49%;
        max-width: 49%;
        max-height: 99%;
    }
    .carousel-container > img {
        min-height: 99%;
        max-height: 99%;
    }
}
/* offer layout */

/* categories layout styles start */
.categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}
.categories-heading h1{
    font-size: 3rem;
    font-weight: 400;
}
.categories-layout{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.categories-card{
    width: 19%;
    height: 14rem;
    margin-top: 1rem;
    background: url(/templates/img/pexels-arshad-sutar-1749303.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 1rem;
}
.categories-card button {
	border: none;
	background-color: var(--orange);
	width: 8rem;
	height: 2.5rem;
	font-size: 1rem;
	font-weight: 500;
	border-radius: 5px;
}
@media screen and (max-width:800px){
    .categories-card button {
        width: 6rem;
        height: 2rem;
    }
    .categories-card {
        width: 8rem;
        height: 10rem;
    }
}
/* categories layout styles ends */
/* Special offers */
.special-offers-container{
    width: 100%;
    margin-top: 4rem;
}
.special-offers{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-card {
	width: 250px;
	/* background-color: yel; */
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: flex-start;
	flex-wrap: wrap;
    margin: 1rem 0;
	box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.1);
	border-radius: 4px;
}
.product-card img{
    width: 250px;
    height: 250px;
    border-radius: 5px;
}
.product-center{
    justify-content: center;
}
.product-card .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
}
.wishlist-and-add {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.wishlist-and-add button {
	border: none;
	padding: 0.5rem 2rem;
	border-radius: 3px;
	background-color: var(--orange);
}
.margin-top{
    margin-top: 0.3rem;
}
.margin-bottom{
    margin-bottom: 0.3rem;
}
.special-offers-heading h1{
    font-size: 3rem;
    font-weight: 400;
}
@media screen and (max-width:600px){
    .product-card img {
        width: 165px;
        height: 165px;
    }
    .product-card {
        width: 165px;
        font-size: 9px;
        margin: 0.4rem;
    }
    .wishlist-and-add button {
        padding: 0.3rem 1rem;
        font-size: 9px;
    }
}

/* Special offers */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }