<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="product-details.css">
    <title>Product details</title>
</head>
<body>
    <header>
        <nav class="header-container">
            <div class="logo">
                <h1>Super<span>Market</span></h1>
            </div>
            <div class="search">
                <i class="fas fa-search"></i>
                <input type="text" class="search" name="search" id="search" placeholder="Search items...">
            </div>
            <div class="account-and-cart">
                <i class="fas fa-heart"></i>
                <i class="fas fa-shopping-cart"><span class="badge">12</span></i>
                <i class="fas fa-user"></i>
            </div>
        </nav>
    </header>
    <section class="nav-links">
        <div class="nav-links-container">
            <h6>Home</h6>
            <h6>New Arrival<span class="badge">New</span></h6>
            <h6>Categories<span><i class="fas fa-sort-down"></i></span></h6>
            <h6>Contact Us</h6>
        </div>
    </section>
    <main>
        <div class="main-container">
            <section class="product-details-container">
                <div class="product-image-section">
                    <img src="img/pexels-arshad-sutar-1749303.jpg" alt="" class="product-image-carousel fade">
                    <img src="img/pexels-vlad-alexandru-popa-1402787.jpg" alt="" class="product-image-carousel fade">
                    <img src="img/dev-dots.png" alt="" class="product-image-carousel fade">
                    <div class="right-arrow" onclick="slideChange(1)">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="left-arrow" onclick="slideChange(-1)">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                </div>
                <div class="product-details-section">
                    <div class="product-name">
                        <h4>Horlicks is genious</h4>
                    </div>
                    <div class="price">
                        <strong>$233</strong>
                    </div>
                    <div class="delivery">
                        <p>In Stock</p>
                        <p>Free delivery upto 10km</p>
                    </div>
                    <div class="description">
                        <h4>Description</h4>
                        <ul>
                            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Invent</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, veritatis! Eaque neque, corporis sed nisi consequuntur id officiis doloremque repudiandae?</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, modi.</li>
                        </ul>
                    </div>
                    <div class="buttons">
                        <button class="add">Add to cart</button>
                        <button class="buy">Buy now</button>
                    </div>
                </div>
            </section>
            <section class="similiar-products-container">
                <div class="similiar-products-heading">
                    <h1>Similiar Products</h1>
                </div>
                <div class="similiar-products">
                    <div class="product-card">
                        <div class="image">
                            <img src="../71Cgh7YiE1L._SL1500_.jpg" alt="">
                        </div>
                        <div class="card-body margin-bottom">
                            <div class="name">
                                Saffola Oodles, Ring Noodles, Yummy Masala Flavour, No Maida, 3 x 184g Pouch (12 Packs)
                            </div>
                            <div class="price margin-top margin-bottom">
                                <strong>₹40.00</strong>
                            </div>
                            <div class="wishlist-and-add margin-top">
                                <i class="far fa-heart"></i>
                                <a href="#"><button>Add to cart</button></a>
                            </div>
                        </div>          
                    </div>
                    <div class="product-card">
                        <div class="image">
                            <img src="../71Cgh7YiE1L._SL1500_.jpg" alt="">
                        </div>
                        <div class="card-body margin-bottom">
                            <div class="name">
                                Saffola Oodles, Ring Noodles, Yummy Masala Flavour, No Maida, 3 x 184g Pouch (12 Packs)
                            </div>
                            <div class="price margin-top margin-bottom">
                                <strong>₹40.00</strong>
                            </div>
                            <div class="wishlist-and-add margin-top">
                                <i class="far fa-heart"></i>
                                <a href="#"><button>Add to cart</button></a>
                            </div>
                        </div>          
                    </div>
                    <div class="product-card">
                        <div class="image">
                            <img src="../71Cgh7YiE1L._SL1500_.jpg" alt="">
                        </div>
                        <div class="card-body margin-bottom">
                            <div class="name">
                                Saffola Oodles, Ring Noodles, Yummy Masala Flavour, No Maida, 3 x 184g Pouch (12 Packs)
                            </div>
                            <div class="price margin-top margin-bottom">
                                <strong>₹40.00</strong>
                            </div>
                            <div class="wishlist-and-add margin-top">
                                <i class="far fa-heart"></i>
                                <a href="#"><button>Add to cart</button></a>
                            </div>
                        </div>          
                    </div>
                    <div class="product-card">
                        <div class="image">
                            <img src="../71Cgh7YiE1L._SL1500_.jpg" alt="">
                        </div>
                        <div class="card-body margin-bottom">
                            <div class="name">
                                Saffola Oodles, Ring Noodles, Yummy Masala Flavour, No Maida, 3 x 184g Pouch (12 Packs)
                            </div>
                            <div class="price margin-top margin-bottom">
                                <strong>₹40.00</strong>
                            </div>
                            <div class="wishlist-and-add margin-top">
                                <i class="far fa-heart"></i>
                                <a href="#"><button>Add to cart</button></a>
                            </div>
                        </div>          
                    </div>
                    <div class="product-card">
                        <div class="image">
                            <img src="../71Cgh7YiE1L._SL1500_.jpg" alt="">
                        </div>
                        <div class="card-body margin-bottom">
                            <div class="name">
                                Saffola Oodles, Ring Noodles, Yummy Masala Flavour, No Maida, 3 x 184g Pouch (12 Packs)
                            </div>
                            <div class="price margin-top margin-bottom">
                                <strong>₹40.00</strong>
                            </div>
                            <div class="wishlist-and-add margin-top">
                                <i class="far fa-heart"></i>
                                <a href="#"><button>Add to cart</button></a>
                            </div>
                        </div>          
                    </div>
                    <div class="product-card">
                        <div class="image">
                            <img src="../71Cgh7YiE1L._SL1500_.jpg" alt="">
                        </div>
                        <div class="card-body margin-bottom">
                            <div class="name">
                                Saffola Oodles, Ring Noodles, Yummy Masala Flavour, No Maida, 3 x 184g Pouch (12 Packs)
                            </div>
                            <div class="price margin-top margin-bottom">
                                <strong>₹40.00</strong>
                            </div>
                            <div class="wishlist-and-add margin-top">
                                <i class="far fa-heart"></i>
                                <a href="#"><button>Add to cart</button></a>
                            </div>
                        </div>          
                    </div>
                </div>
            </section>
        </div>
    </main>
    <script>
        var slideIndex = 0;
        var right = false;
        carouselSlide(slideIndex);
        function slideChange(n){
            if(n==1){
                right = true;
            }
            slideIndex = slideIndex + n;
            carouselSlide(slideIndex)
        }
        function carouselSlide(n){
            var i;
            var slides = document.getElementsByClassName("product-image-carousel")
            if(n>slides.length -1){
                slideIndex = 0;
            }
            if(n<0){
                slideIndex = slides.length -1;
            }
            for(i=0;i<slides.length;i++){
                slides[i].style.display = "none"
            }
            slides[slideIndex].style.display = "block"
        }
    </script>
</body>
</html>