<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Super<span>Market</span></h1>
    </header>
    <section>
        <div class="signup-container">
            <div class="signup-box">
                <div>
                    <h2>Create Your Account</h2>
                </div>
                <form action="">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="name" name="name" placeholder="Enter your name...">
                    <label for="">Mobile</label>
                    <input type="text" id="mobile" name="mobile" class="mobile" placeholder="Mobile number without prefix +91">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="email" name="email" placeholder="example@gmail.com">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="password" name="password"
                        placeholder="Must contain atleast 8 character">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" class="confirm-password" name="confirm-password"
                        placeholder="Re-enter your password">
                    <a href="#">Already have an account?Login</a>
                    <div class="signup-btn-container">
                        <input type="submit" name="signup-btn" id="signup-btn" class="signup-btn" value="Sign Up">
                    </div>
                </form>
            </div>

    </section>
    <footer>

    </footer>
</body>

</html>