<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
    <title>Document</title>
</head>

<body>
    <header>
            <h1>Super<span>Market</span></h1>
    </header>
    <section>
        <div class="signup-container">
            <form class="signup-box">
                <div>
                    <h2>Create Your Account</h2>
                </div>
                <div class="signUp-input-container">
                    <div class="signup-input">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="name" name="name">
                    </div>
                </div>
                <div class="signup-input">
                    <label for="mobile">Mobile</label>
                    <div class="mobile-field">
                        <div class="indian-code">
                            <h6>IN +91</h6>
                        </div>
                        <input type="text" id="mobile" name="mobile" class="mobile">
                    </div>
                </div>
                <div class="signUp-input-container">
                    <div class="signup-input">
                        <label for="email">Email</label>
                        <input type="email" id="email" class="email" name="email">
                    </div>
                </div>
                <div class="signUp-input-container">
                    <div class="signup-input">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="password" name="password">
                    </div>
                </div>
                <div class="signUp-input-container">
                    <div class="signup-input">
                        <label for="confirm-password">Confirm Password</label>
                        <input type="password" id="conf-password" class="conf-password" name="conf-password">
                    </div>
                </div>
                <div class="already-have">
                    <a href="#">Already have an account?Login</a>
                </div>
                <div class="signup">
                    <input type="submit" name="signup-btn" id="signup-btn" class="signup-btn" value="Sign Up">
                </div>
            </form>
    </section>
    <footer>

    </footer>
</body>
</html>