<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/user-header.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/signup.css">
    <link rel="stylesheet" href="/stylesheets/user-login-signup-header.css">
    <link rel="stylesheet" href="/stylesheets/otp-fom.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <title>Super market</title>
</head>
<body>
    {{#if admin}}
        {{>admin-header}}
    {{else}}
        {{#if loginOrSignupPage}}
            {{>user-login-signup-header}}
        {{else}}
            {{>user-header}}
        {{/if}}
    {{/if}}
    {{{body}}}
    <script src="/javascripts/scripts.js"></script>
</body>
</html>